.footer {
  padding: 10px 10px;
  background-color: #13105d;
}
p {
  color: darkorange;
}
/* .location li {
  color: aliceblue;
} */
/* .Contacts li {
  color: aliceblue;
} */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
