.Mesg {
  font-weight: lighter;
  font-style: oblique;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Majormsg p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-style: italic;
  font-weight: bolder;
}
.Mechanics {
  display: flex;
  padding-top: 3%;
}
.mechanicsImg {
  height: 600px;
  /* width: 800px; */
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.Mmsg {
  align-items: center;
  color: black;
}
.missionMsg,
.contMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-style: italic;
  font-weight: bolder;
}
.Missionhd {
  font-weight: lighter;
  font-style: oblique;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission {
  padding-top: 5%;
  padding-bottom: 2%;
}
.ofiice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cont,
.help {
  font-weight: lighter;
  font-style: oblique;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Media p {
  color: black;
}
.ofiice p {
  color: black;
}
